@model online_Admission.Models.studentviewmodel

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">login</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group  " >
   
    <label class="control-label col-sm-2" for="email">Email</label>

    <div class="col-md-10">

        @Html.EditorFor(model => model.r_cnic, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
        @Html.ValidationMessageFor(model => model.r_cnic, "", new { @class = "text-danger" })
    </div>

</div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.r_password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.r_password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
</div>



    <div><p style="color:red">@ViewBag.msg</p></div>
}

<div>
    @Html.ActionLink("Sign Up", "Index") <br />
    @Html.ActionLink("Admin login", "login", "Admin")

</div>
